
.boxCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}


.boxLeft {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


.gridHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    gap: 1rem;
}

.homepage {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 0; */
    /* gap: 1rem; */
}



.cardSm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 10px;
}

.cardMd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 6rem;
    border: 1px solid black;
    border-radius: 10px;
}


.cardLg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43rem;
    height: 10rem;
    border: 1px solid black;
    border-radius: 10px;
}


.link {
    text-decoration: none;
    color: inherit;
}


.backToHome {
    width: 150px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 7px 5px 7px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}