body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 50%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-bottom: 100px; */
}